.header {
    width: 100%;
    padding: 2%;
    background-color: rgb(9, 164, 236);
    color: black;
    text-align: center;
    font-size: xx-large;
  }
  
.mrgnbtm {
    margin-top: 20px;
}

.btncenter {
    text-align: center;
}